// 导入头部样式
@import "./header.scss";


// 标签部分 样式函数
@mixin  pro($pro,$pc) {
    >#{$pro}{
        margin-top: 50px;
        width: 100%;
        >#{$pc}{
            width: 100%;
            text-align: center;
            >p{
                font-family: 'book antiqua';
                font-size: 30px;
                padding-bottom: 10px;
                font-weight: bolder;
                &:nth-child(2){
                    font-weight: normal;
                }
            }
        }
    }
}





.main{
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom:50px; 
    >.banner{
        position: relative;
        width: 100%;
        >.img-box{
            overflow: hidden;
            width: 100%;
            >ul{
                display: flex;
                width: 625%;      
                transition: transform 0.3s;
                &.on{
                    transition: transform 0s;
                }
                >li{
                    width:100%;      
                    >img{
                        // line-height: 1;
                        max-width: 100%;
                        // max-height:100%;
                        vertical-align: middle;
                        border-style: none;
                    }
                }
            }
        }
        >.arrow{
            >div{
                position: absolute;
                top:50%;
                width: 40px;
                height: 60px;
                background-color: rgba(236, 231, 236, 0.3);
                transform: translateY(-50px);
                color: bisque;
                text-align: center;
                line-height: 60px;
                font-size: 32px;
                cursor: pointer;
                &.left{
                    left:50px;
                }
                &.right{
                    right:50px;
                     
                }
                &:hover{
                    background-color: rgba(245, 180, 236,.6);
                }
            }
        }
        >.circle{
            position: absolute;
            left: 50%;
            bottom: 50px;
            width: 8%;

            >ul{
                display: flex;
                justify-content: space-between;
                width: 100%;
                // height: 100%;
                
                >li{
                    box-sizing: border-box;
                    // padding-left: 30px;
                    float: left;
                    width: 12px;
                    height: 12px;
                    // background-color: rgb(98, 187, 228);
                    color:aliceblue;
                    // text-align: center;
                    border-radius: 100%;
                    border: 1px solid #fff;
                    // line-height: 50px;
                    cursor: pointer;
                    &.active{
                        background-color: red;
                    }
                }
            }
        }    
    }
    >.content{
        width: 100%;
        background-color: #f2f2f2;
        //标签部分
        @include pro(".pro",".p-c");
        >.com{
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #fff;
            >.com-m{
                display: flex;
                justify-content: center;
                width: 76%;
                >.m-l{
                    position: relative;
                    width: 40%;
                    background: url('../images/c.jpg') center/cover  no-repeat;
                }
                >.m-r{
                    width: 60%;
                    >ul{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        >li{
                            >img{
                                vertical-align: middle;
                                max-width: 100%;
                                height: auto;
                                border: none;
                            }
                        }
                    }
                    >div{
                        >img{
                            vertical-align: middle;
                            max-width: 100%;
                            height: auto;
                            border: none;
                        }
                    }
                }
            
            }
        }
        //标签部分2
        @include pro(".pro2",".p-c2");
        >.discover{
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #fff;
            >ul{
                display: flex;
                justify-content: space-between;
                width: 80%;
                >li{
                    width: 24%;
                    >img{
                        vertical-align: middle;
                                max-width: 100%;
                                height: auto;
                                border: none;
                    }
                    >h6{
                        margin-top: 10px;
                        font-size: 18px;
                    }
                    >p{
                        margin-top: 20px;
                        color: gray;
                        font-size: 14px;
                    }
                    >a{
                        display: block;
                        margin-top: 10px;
                        color: #000;
                        cursor: pointer;
                        
                    }
                    &:nth-child(3)>a{
                        margin-top: 30px;
                    }
                }
            }
        }
        >.img{
            margin-top: 50px;
            width: 100%;
            >img{
                vertical-align: middle;
                max-width: 100%;
                height: auto;
                border: none
            }
        }
        //标签部分3
        @include pro(".pro3",".p-c3");
        >.order{
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #fff;
            >ul{
                display: flex;
                justify-content: center;
                width: 80%;
                >li{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    width: 24%;
                    &:nth-child(2){
                        padding-left: 30px;
                        >p{
                            margin-top: 20px;
                            font-size: 14px;
                            &:nth-child(1){
                                font-size: 18px;
                                font-weight: bold;
                            }
                            &:nth-child(2){
                                margin-top: 0;
                                font-size: 18px;
                                font-weight: bold;
                            }
                            &:nth-child(4){
                                margin-top: 0;
                            }
                            >a{
                                color: #000;
                                font-size: 14px;

                            }
                        }
                    }
                    &:nth-child(4){
                        padding-left: 30px;
                        >p{
                            margin-top: 20px;
                            font-size: 14px;
                            &:nth-child(1){
                                font-size: 18px;
                                font-weight: bold;
                            }
                            &:nth-child(2){
                                margin-top: 0;
                                font-size: 18px;
                                font-weight: bold;
                            }
                            &:nth-child(4){
                                margin-top: 0;
                            }
                            >a{
                                color: #000;
                                font-size: 14px;

                            }
                        }
                    }
                    >img{
                        vertical-align: middle;
                        max-width: 100%;
                        height: auto;
                        border: none;
                    }
                }
            }
        }
        //标签部分4
        @include pro(".pro4",".p-c4");
        >.lipstick{
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #fff;
            >ul{
                display: flex;
                justify-content: space-between;
                width: 80%;
                >li{
                    width: 32%;
                    >img{
                        vertical-align: middle;
                                max-width: 100%;
                                height: auto;
                                border: none;
                    }
                    >h6{
                        margin-top: 10px;
                        font-size: 18px;
                    }
                    >p{
                        margin-top: 20px;
                        color: gray;
                        font-size: 14px;
                    }
                    >a{
                        display: block;
                        margin-top: 10px;
                        color: #000;
                        cursor: pointer;
                        
                    }
                    &:nth-child(1)>a{
                        margin-top: 30px;
                    }
                }
            }
        }
        //标签部分5
        @include pro(".pro5",".p-c5");
        >.v-centre{
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #fff;
            >.centre-c{
                display: flex;
                justify-content: center;
                width: 80%;
                >.v-l{
                    width: 50%;
                    >img{
                        vertical-align: middle;
                        max-width: 100%;
                        height: auto;
                        border: none;
                    }
                }
                >.v-r{
                    display: flex;
                    justify-content: center;
                    box-sizing: border-box;
                    width: 50%;
                    padding-left: 50px;
                    >ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        >li{
                            >p{
                                font-size: 20px;
                                font-weight: bold;
                            }
                            &:nth-child(5){
                                margin-top: 30px;
                                margin-bottom: 20px;
                                >p{
                                    font-size: 12px;
                                    font-weight: 100;
                                    color:gray;
                                } 
                            }
                            a{
                                color: #000;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

        }
    }
}




// 标签产品1响应式 样式函数
@mixin proM($pro,$pc) {
    >#{$pro}{
        margin-top: 10px;
        width: 100%;
        @media (max-width:800px){
            >#{$pc}{
                width: 100%;
                text-align: center;
                >p{
                    font-size:16px;
                    font-family: 'book antiqua';
                    padding-bottom: 6px;
                    font-weight: bolder;
                    &:nth-child(2){
                        font-weight: normal;
                    }
                }
            }
        }
    }
    
}

@media screen{
    .main{
        width: 100%;
        padding-bottom:20px; 
        // background-color: aqua;
        @media (max-width:800px){
            >.banner{
                position: relative;
                width: 100%;
                >.img-box{
                    overflow: hidden;
                    width: 100%;
                    >ul{
                        display: flex;
                        width: 625%;      
                        transition: transform 0.3s;
                        &.on{
                            transition: transform 0s;
                        }
                        >li{
                            width:100%;      
                            >img{
                                // line-height: 1;
                                max-width: 100%;
                                // max-height:100%;
                                vertical-align: middle;
                                border-style: none;
                            }
                        }
                    }
                }
                >.arrow{
                    display: none;
                }
                >.circle{
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    width: 15%;
                    >ul{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        // height: 100%;
                        
                        >li{
                            box-sizing: border-box;
                            // padding-left: 30px;
                            float: left;
                            width: 6px;
                            height: 6px;
                            // background-color: rgb(98, 187, 228);
                            color:aliceblue;
                            // text-align: center;
                            border-radius: 100%;
                            border: 1px solid #fff;
                            // line-height: 50px;
                            cursor: pointer;
                            &.active{
                                background-color: red;
                            }
                        }
                    }
                }    
            }
            >.content{
                // 标签产品1响应式
                @include proM(".pro",".p-c");
                // 标签产品2响应式
                @include proM(".pro2",".p-c2");
                >.discover{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    background-color: #fff;
                    >ul{
                        >li{
                            >h6{
                                margin-top: 5px;
                                font-size: 14px;
                            }
                            >p{
                                margin-top: 10px;
                                color: gray;
                                font-size: 12px;
                            }
                            >a{
                                display: block;
                                margin-top: 10px;
                                color: #000;
                                cursor: pointer;
                                font-size: 12px;                            
                            }
                            &:nth-child(3)>a{
                                margin-top: 21px;
                            }
                        }
                    }
                }
                >.img{
                    margin-top: 10px;
                }
                // 标签产品3响应式
                @include proM(".pro3",".p-c3");
                >.order{
                    >ul{
                        >li{
                            &:nth-child(2){
                                padding-left: 10px;
                                >p{
                                    display: none;
                                    &:nth-child(1){
                                        display: block;

                                        font-size: 12px;
                                        font-weight: bold;
                                    }
                                    &:nth-child(2){
                                        display: block;
                                        margin-top: 0;
                                        font-size: 10px;
                                        font-weight: bold;
                                    }
                                    &:nth-child(5){
                                        display: block;
                                        margin-top: 0;
                                        >a{
                                            color: #000;
                                            font-size: 6px;
            
                                        }
                                    }
                                }
                            }
                            &:nth-child(4){
                                padding-left: 10px;
                                >p{
                                    display: none;
                                    &:nth-child(1){
                                        display: block;
                                        font-size: 10px;
                                        font-weight: bold;
                                    }
                                    &:nth-child(2){
                                        display: block;

                                        margin-top: 0;
                                        font-size: 10px;
                                        font-weight: bold;
                                    }
                                    &:nth-child(4){
                                        margin-top: 0;
                                    }
                                    &:nth-child(5){
                                        display: block;
                                        margin-top: 0;
                                        >a{
                                            color: #000;
                                            font-size: 6px;
            
                                        }
                                    }
                                    
                                }
                            }
                            >img{
                                vertical-align: middle;
                                max-width: 100%;
                                height: auto;
                                border: none;
                            }
                        }
                    }
                }
                // 标签产品4响应式
                @include proM(".pro4",".p-c4");
                >.lipstick{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    background-color: #fff;
                    >ul{
                        display: flex;
                        justify-content: space-between;
                        width: 80%;
                        >li{
                            width: 32%;
                            >img{
                                vertical-align: middle;
                                        max-width: 100%;
                                        height: auto;
                                        border: none;
                            }
                            >h6{
                                margin-top: 10px;
                                font-size: 14px;
                            }
                            >p{
                                display: none;
                            }
                            >a{
                                display: block;
                                margin-top: 10px;
                                color: #000;
                                cursor: pointer;
                                
                            }
                            &:nth-child(1)>a{
                                margin-top: 10px;
                            }
                        }
                    }
                }
                // 标签产品5响应式
                @include proM(".pro5",".p-c5");
                >.v-centre{
                    >.centre-c{
                        >.v-r{
                            >ul{
                                >li{
                                    >p{
                                        display: none;
                                    }
                                    &:nth-child(5){
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                        >p{
                                            display: block;
                                            font-size: 12px;
                                            font-weight: 100;
                                            color: #000;
                                        }
                                         
                                    }
                                    >a{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}






// 导入底部样式
@import "./footer.scss"