// 导入头部样式
@import "./header.scss";


// 主要内容 样式函数
@mixin mainBOx($num,$boolean) {
    >li:nth-child(#{$num}){
        display: flex;
        justify-content: center;
        @if($boolean){
            flex-direction: row-reverse;
        }
         width: 100%;

        >.m-l{
            width: 50%;
            >img{
                vertical-align: middle;
                max-width: 100%;
                height: auto;
                border: none;
            }
        }
        >.m-r{
            display: flex;
            align-items: center;
            width: 50%;
            >ul{
                >li{
                    margin-top: 20px;
                    p{
                        font-size: 26px;
                        color: #fff;
                    }
                    a{
                        display: block;
                        color: #fff;
                        width: 140px;
                        font-size: 14px;
                        text-align: center;
                        line-height: 24px;
                        border: 1px solid #fff;
                        &:hover{
                            color: #000;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.main{
    width: 100%;
    >.content{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: black;
        >.t-list{
            width: 80%;
            >li{
                margin-top: 50px;
                width: 100%;
                >p{
                    text-align: center;
                    font-size: 35px;
                    color: #fff;
                }
                &:nth-child(1){
                    >p{
                        font-size: 60px;
                    }

                }
            }
        }
        >.m-box{
            display: flex;
            justify-content: center;
            width: 100%;
            >ul{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                @include mainBOx(1,false);
                @include mainBOx(2,true);
                @include mainBOx(3,false);
                @include mainBOx(4,true);
                @include mainBOx(5,false);
                @include mainBOx(6,true);
                @include mainBOx(7,false);
                @include mainBOx(8,true);

            }
        }



        >.t-foot{
            width: 80%;
            >li{
                margin-top: 50px;
                width: 100%;
                >p{
                    text-align: center;
                    font-size: 35px;
                    color: #fff;
                }
               
            }
        }
    }
}



@media screen{
    .main{
        @media (max-width:1200px){
            >.content{
                >.t-list{
                    width: 80%;
                    >li{
                        margin-top: 10px;
                        width: 100%;
                        >p{
                            text-align: center;
                            font-size: 16px;
                            color: #fff;
                        }
                        &:nth-child(1){
                            >p{
                                font-size: 28px;
                            }
        
                        }
                    }
                }
                >.m-box{
                    >ul{
                        >li{
                            >.m-r{
                                
                                >ul{
                                   
                                    padding-left: 20px;
                                    >li{
                                        margin-top: 5px;
                                        display: none;
                                        &:nth-child(1){
                                        margin-top: 5px;

                                            display: block;
                                            >p{
                                                font-size: 16px;
                                            }
                                        }
                                        &:nth-child(2){
                                        margin-top: 5px;

                                            display: block;
                                            >p{
                                                font-size: 16px;
                                            }

                                        }&:nth-child(5){
                                        margin-top: 5px;

                                            display: block;
                                            a{
                                             
                                                width: 100px;
                                                font-size: 14px;
                                                text-align: center;
                                                line-height: 22px;
                                                border: 1px solid #fff;
                                                &:hover{
                                                    color: #000;
                                                    background-color: #fff;
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }


                >.t-foot{
                    margin-top: 10px;
                    width: 80%;
                    >li{
                        margin-top: 10px;
                        width: 100%;
                        >p{
                            text-align: center;
                            font-size: 14px;
                            color: #fff;
                        }
                        
                    }
                }
            }
        }
    }
}



// 导入底部样式
@import "./footer.scss"