@charset "UTF-8";
.header {
  width: 100%; }
  .header > .nav-hot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #cb9864; }
    .header > .nav-hot > p > a {
      font-size: 16px;
      color: #000000; }
  .header > .nav-service {
    position: relative;
    width: 100%; }
    .header > .nav-service > .service {
      display: flex;
      justify-content: space-between;
      height: 25px; }
      .header > .nav-service > .service > .guild-list {
        display: flex;
        justify-content: space-between;
        margin-left: 250px;
        width: 12%; }
        .header > .nav-service > .service > .guild-list > li {
          font-size: 14px; }
          .header > .nav-service > .service > .guild-list > li > a {
            color: #bababa; }
        .header > .nav-service > .service > .guild-list > li:nth-child(2) {
          position: relative; }
          .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c {
            visibility: hidden;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 25px;
            left: 0;
            width: 0;
            height: 200px;
            background-color: #ffffff;
            box-shadow: darkgrey 10px 10px 30px 5px;
            opacity: 0;
            z-index: 10; }
            .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-l {
              box-sizing: border-box;
              padding-left: 20px;
              width: 200px; }
              .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-l > h5 {
                padding: 0 10px 15px;
                width: 100%;
                font-size: 18px;
                font-weight: 500;
                border-bottom: 1px solid #bababa; }
              .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-l > .h-list {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%; }
                .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-l > .h-list > li {
                  padding-bottom: 5px; }
                  .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-l > .h-list > li > a {
                    color: #bababa;
                    font-size: 14px; }
            .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-r {
              box-sizing: border-box;
              margin-right: 50px;
              width: 100px; }
              .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-r > h4 {
                padding-bottom: 15px;
                width: 100%;
                font-size: 18px;
                font-weight: 500;
                width: 100%;
                border-bottom: 1px solid #bababa; }
              .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-r > ul {
                margin-top: 10px; }
                .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-r > ul > li {
                  padding-bottom: 5px; }
                  .header > .nav-service > .service > .guild-list > li:nth-child(2) > .service-c > .c-r > ul > li > a {
                    color: #bababa;
                    font-size: 14px; }
        .header > .nav-service > .service > .guild-list > li:nth-child(2):hover .service-c {
          visibility: visible;
          opacity: 1;
          width: 500px;
          transition: all .3s; }
      .header > .nav-service > .service > .service-list {
        display: flex;
        justify-content: space-between;
        margin-right: 300px;
        width: 22%; }
        .header > .nav-service > .service > .service-list > li > p {
          cursor: pointer;
          font-size: 14px; }
        .header > .nav-service > .service > .service-list > li:nth-child(1) {
          position: relative; }
          .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub {
            visibility: hidden;
            position: absolute;
            left: -700px;
            top: 25px;
            display: flex;
            justify-content: space-between;
            width: 0;
            height: 300px;
            background-color: #ffffff;
            box-shadow: darkgrey 10px 10px 30px 5px;
            z-index: 10;
            opacity: 0; }
            .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l {
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 50%;
              height: 100%;
              opacity: 0; }
              .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l > .p-e {
                margin-left: 20px; }
              .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l > .em {
                box-sizing: border-box;
                margin-top: 15px;
                margin-left: 50px;
                display: flex;
                width: 330px;
                height: 40px; }
                .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l > .em > input {
                  width: 260px;
                  height: 95%;
                  border: 1px solid #000000;
                  text-indent: 1em; }
                .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l > .em > button {
                  width: 70px;
                  height: 100%;
                  background-color: #000000;
                  color: #ffffff;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  border: 1px solid #000000;
                  border-left-color: transparent; }
                .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l > .em button:hover {
                  color: #000000;
                  background-color: #ffffff; }
              .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l > .tr {
                margin-top: 10px;
                margin-left: 50px;
                display: flex; }
                .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l > .tr > input {
                  margin-top: 3px; }
                .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-l > .tr > p {
                  margin-left: 5px;
                  font-size: 14px; }
            .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-r {
              padding-left: 100px;
              width: 50%;
              height: 100%;
              opacity: 0; }
              .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-r > p {
                margin-top: 50px; }
              .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-r > ul {
                margin-left: 15px;
                margin-top: 40px;
                list-style-type: disc; }
                .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-r > ul > li {
                  padding-bottom: 5px; }
              .header > .nav-service > .service > .service-list > li:nth-child(1) > .sub > .s-r > a > button {
                margin-top: 20px;
                border: none;
                outline: #ffffff;
                background-color: #ffffff;
                cursor: pointer; }
          .header > .nav-service > .service > .service-list > li:nth-child(1):hover .sub {
            opacity: 1;
            transition: opacity 9s;
            transition: width .3s;
            width: 900px;
            visibility: visible; }
            .header > .nav-service > .service > .service-list > li:nth-child(1):hover .sub > .s-l {
              opacity: 1;
              transition: opacity 1.5s; }
            .header > .nav-service > .service > .service-list > li:nth-child(1):hover .sub > .s-r {
              opacity: 1;
              transition: opacity 1.5s; }
        .header > .nav-service > .service > .service-list > li:nth-child(2) {
          position: relative; }
          .header > .nav-service > .service > .service-list > li:nth-child(2) > .login {
            visibility: hidden;
            display: flex;
            position: absolute;
            left: -650px;
            top: 25px;
            padding-left: 20px;
            width: 0;
            height: 500px;
            background-color: #ffffff;
            box-shadow: darkgrey 10px 10px 30px 5px;
            opacity: 0;
            z-index: 10; }
            .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l {
              width: 50%; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > h5 {
                width: 370px;
                margin-top: 20px;
                padding-bottom: 15px;
                font-size: 26px;
                font-weight: 500;
                border-bottom: 1px solid #bababa; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > .inp {
                margin-top: 10px; }
                .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > .inp > input {
                  width: 364px;
                  height: 55px;
                  margin-bottom: 40px;
                  text-indent: 2em; }
                .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > .inp > .status {
                  box-sizing: border-box;
                  width: 366px;
                  line-height: center; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > .inp > .status > input {
                    width: 20px;
                    height: 100%; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > .inp > .status > p {
                    display: inline;
                    padding-left: -20px; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > .inp > .status > a {
                    display: block;
                    float: right;
                    margin-right: 0;
                    color: #000000; }
                .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > .inp > button {
                  margin-top: 10px;
                  width: 364px;
                  height: 55px;
                  text-align: center;
                  line-height: 100%;
                  background-color: #000000;
                  color: #ffffff;
                  font-size: 20px;
                  outline: none;
                  border: 1px solid #000000; }
                .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-l > .inp > button:hover {
                  background-color: #ffffff;
                  color: #000000; }
            .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-r {
              width: 50%; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-r > h5 {
                width: 370px;
                margin-top: 20px;
                padding-bottom: 15px;
                font-size: 26px;
                font-weight: 500;
                border-bottom: 1px solid #bababa; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-r > p {
                margin-top: 50px; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-r > ul {
                margin-left: 15px;
                margin-top: 40px;
                list-style-type: disc; }
                .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-r > ul > li {
                  padding-bottom: 5px; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-r > button {
                margin-top: 26px;
                width: 364px;
                height: 55px;
                text-align: center;
                line-height: 100%;
                background-color: #000000;
                color: #ffffff;
                font-size: 20px;
                outline: none;
                border: 1px solid #000000; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .log-r > button:hover {
                background-color: #ffffff;
                color: #000000; }
            .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter {
              visibility: hidden;
              position: absolute;
              left: 30px;
              top: 0;
              width: 50%; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > h4 {
                width: 370px;
                margin-top: 20px;
                padding-bottom: 15px;
                font-size: 26px;
                font-weight: 500;
                border-bottom: 1px solid #bababa; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 364px;
                height: 280px; }
                .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li {
                  position: relative;
                  width: 100%;
                  height: 55px; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li > p::after {
                    display: none;
                    position: absolute;
                    top: 25px;
                    right: -210px;
                    width: 200px;
                    height: 60%;
                    background-color: pink;
                    border-radius: 5px;
                    text-align: center;
                    line-height: 36px; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li:nth-child(1) > p::after {
                    content: '请输入用户名'; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li:nth-child(2) > p::after {
                    content: '请输入自己邮箱哦'; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li:nth-child(3) > p::after {
                    content: '请输入您的手机号码'; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li:nth-child(4) > p::after {
                    content: '密码可以复杂一点'; }
                  .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li > input {
                    width: 100%;
                    height: 100%;
                    margin-top: 15px;
                    text-indent: 2em; }
                    .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li > input:nth-child(1):focus ~ p::after {
                      display: block; }
                    .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li > input:nth-child(2):focus ~ p::after {
                      display: block; }
                    .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li > input:nth-child(3):focus ~ p::after {
                      display: block; }
                    .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > .inp-list > li > input:nth-child(4):focus ~ p::after {
                      display: block; }
              .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > button {
                margin-top: 26px;
                width: 368px;
                height: 55px;
                text-align: center;
                line-height: 100%;
                background-color: #000000;
                color: #ffffff;
                font-size: 20px;
                outline: none;
                border: 1px solid #000000; }
                .header > .nav-service > .service > .service-list > li:nth-child(2) > .login > .regsiter #form > button:hover {
                  background-color: #ffffff;
                  color: #000000; }
          .header > .nav-service > .service > .service-list > li:nth-child(2):hover .login {
            visibility: visible;
            width: 800px;
            opacity: 1;
            transition: all .3s; }
        .header > .nav-service > .service > .service-list > li:nth-child(3) {
          position: relative; }
          .header > .nav-service > .service > .service-list > li:nth-child(3) > .shop {
            visibility: hidden;
            position: absolute;
            left: -500px;
            top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0;
            height: 300px;
            box-shadow: darkgrey 10px 10px 30px 5px;
            background-color: #ffffff;
            opacity: 0;
            z-index: 10; }
            .header > .nav-service > .service > .service-list > li:nth-child(3) > .shop > .container > p {
              font-size: 20px;
              line-height: 50px; }
            .header > .nav-service > .service > .service-list > li:nth-child(3) > .shop > .container > a {
              font-size: 14px;
              color: #000000;
              border-bottom: 1px solid #cb9864; }
          .header > .nav-service > .service > .service-list > li:nth-child(3):hover .shop {
            opacity: 1;
            width: 600px;
            transition: all .3s;
            visibility: visible; }
  .header > .nav-label {
    width: 100%;
    height: 80px; }
    .header > .nav-label > h1 {
      cursor: pointer;
      margin: 0 auto;
      height: 100%;
      width: 436px; }
      .header > .nav-label > h1 > a {
        display: block;
        width: 100%;
        height: 100%; }
        .header > .nav-label > h1 > a > img {
          width: 100%;
          height: 100%; }
  .header > .top-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: #ffffff; }
    .header > .top-nav > .t-l {
      width: 46%;
      height: 100%; }
      .header > .top-nav > .t-l > .t-list {
        display: flex;
        justify-content: space-around;
        position: relative;
        width: 100%;
        height: 100%; }
        .header > .top-nav > .t-l > .t-list > li {
          text-align: center;
          line-height: 50px; }
          .header > .top-nav > .t-l > .t-list > li > a {
            color: #000000;
            font-size: 14px; }
            .header > .top-nav > .t-l > .t-list > li > a:hover {
              color: pink;
              transition: all .9s;
              border-bottom: 2px solid red; }
          .header > .top-nav > .t-l > .t-list > li:hover > a ~ .sub-nav {
            visibility: visible;
            height: 260px;
            opacity: 1;
            transition: all .3s; }
          .header > .top-nav > .t-l > .t-list > li > .sub-nav {
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 50px;
            width: 1200px;
            height: 0;
            background-color: #ffffff;
            opacity: 0;
            z-index: 10; }
            .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list {
              display: flex;
              justify-content: content;
              width: 100%; }
              .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li {
                width: 20%;
                height: 260px; }
                .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li:nth-child(4) {
                  padding-top: 30px; }
                  .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li:nth-child(4) > a {
                    color: #000000;
                    font-weight: bold; }
                .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li:nth-child(5) {
                  padding-top: 30px; }
                  .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li:nth-child(5) > a {
                    color: #000000;
                    font-weight: bold; }
                .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li > ul {
                  margin-top: 30px; }
                  .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li > ul > li:nth-child(1) {
                    color: #000000;
                    font-weight: bold; }
                  .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li > ul > li:nth-child(1) > a {
                    color: #000000;
                    font-weight: bold; }
                  .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li > ul > li {
                    width: 200px;
                    height: 30px; }
                    .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li > ul > li > a {
                      font-size: 14px;
                      color: #bababa; }
                      .header > .top-nav > .t-l > .t-list > li > .sub-nav > .s-list > li > ul > li > a:hover {
                        color: #000; }
          .header > .top-nav > .t-l > .t-list > li:nth-child(2):hover > a ~ .sub-nav2 {
            visibility: visible;
            height: 260px;
            opacity: 1;
            transition: all .3s; }
          .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 {
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 50px;
            width: 1200px;
            height: 0;
            background-color: #ffffff;
            opacity: 0;
            z-index: 10; }
            .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 > .s-list2 {
              display: flex;
              justify-content: content;
              width: 100%; }
              .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 > .s-list2 > li {
                width: 20%;
                height: 260px; }
                .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 > .s-list2 > li > ul {
                  margin-top: 30px; }
                  .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 > .s-list2 > li > ul > li:nth-child(1) {
                    color: #000000;
                    font-weight: bold; }
                  .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 > .s-list2 > li > ul > li:nth-child(1) > a {
                    color: #000000;
                    font-weight: bold; }
                  .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 > .s-list2 > li > ul > li {
                    width: 200px;
                    height: 30px; }
                    .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 > .s-list2 > li > ul > li > a {
                      font-size: 14px;
                      color: #bababa; }
                      .header > .top-nav > .t-l > .t-list > li:nth-child(2) > .sub-nav2 > .s-list2 > li > ul > li > a:hover {
                        color: #000; }
          .header > .top-nav > .t-l > .t-list > li:nth-child(3):hover > a ~ .sub-nav3 {
            visibility: visible;
            height: 260px;
            opacity: 1;
            transition: all .3s; }
          .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 {
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 50px;
            width: 1200px;
            height: 0;
            background-color: #ffffff;
            opacity: 0;
            z-index: 10; }
            .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 > .s-list3 {
              display: flex;
              justify-content: content;
              width: 100%; }
              .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 > .s-list3 > li {
                width: 20%;
                height: 260px; }
                .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 > .s-list3 > li > ul {
                  margin-top: 30px; }
                  .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 > .s-list3 > li > ul > li:nth-child(1) {
                    color: #000000;
                    font-weight: bold; }
                  .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 > .s-list3 > li > ul > li:nth-child(1) > a {
                    color: #000000;
                    font-weight: bold; }
                  .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 > .s-list3 > li > ul > li {
                    width: 200px;
                    height: 30px; }
                    .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 > .s-list3 > li > ul > li > a {
                      font-size: 14px;
                      color: #bababa; }
                      .header > .top-nav > .t-l > .t-list > li:nth-child(3) > .sub-nav3 > .s-list3 > li > ul > li > a:hover {
                        color: #000; }
    .header > .top-nav > .t-r {
      align-self: center; }
      .header > .top-nav > .t-r > .search {
        display: flex;
        justify-content: center;
        align-items: center; }
        .header > .top-nav > .t-r > .search > input:nth-child(1) {
          height: 40px;
          width: 280px;
          text-indent: 1em; }
        .header > .top-nav > .t-r > .search > input:nth-child(2) {
          height: 44px;
          width: 44px;
          background-size: 100%;
          border-left-style: none;
          border: 2px solid #000000;
          background-color: #000000;
          color: #fff;
          font-size: 16px; }
  .header > .top-nav.fiexd {
    position: fixed;
    top: 0;
    z-index: 99; }

.header-m {
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  height: 60px;
  font-size: 0;
  background-color: #ffffff;
  z-index: 10; }
  .header-m > .h-main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 60px; }
    .header-m > .h-main > .h-l {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%; }
      .header-m > .h-main > .h-l > a {
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        width: 100%; }
        .header-m > .h-main > .h-l > a > img {
          height: 60px;
          vertical-align: middle;
          border-style: none; }
    .header-m > .h-main > .h-r {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 60%;
      height: 100%; }
      .header-m > .h-main > .h-r > .menu {
        position: relative;
        margin-right: 15px;
        width: 40px;
        height: 34px;
        cursor: pointer; }
        .header-m > .h-main > .h-r > .menu > i {
          position: absolute;
          left: 0px;
          height: 4px;
          background: #000;
          width: 100%;
          border-radius: 1px; }
          .header-m > .h-main > .h-r > .menu > i:nth-child(1) {
            top: 4px; }
          .header-m > .h-main > .h-r > .menu > i:nth-child(2) {
            top: 15px; }
          .header-m > .h-main > .h-r > .menu > i:nth-child(3) {
            top: 26px; }
      .header-m > .h-main > .h-r > .nav {
        visibility: hidden;
        position: absolute;
        right: 0;
        top: 5px;
        width: 70px;
        height: 0;
        background-color: #94070a;
        border-radius: 5px;
        transition: all .3s;
        opacity: 0;
        z-index: 20; }
        .header-m > .h-main > .h-r > .nav > ul {
          display: flex;
          flex-flow: column;
          justify-content: space-around;
          align-items: center;
          height: 100%; }
          .header-m > .h-main > .h-r > .nav > ul > li:nth-child(1) {
            font-size: 28px;
            font-weight: bold;
            cursor: pointer; }
          .header-m > .h-main > .h-r > .nav > ul > li > a {
            font-size: 14px;
            color: #cb9864;
            font-weight: bold; }
            .header-m > .h-main > .h-r > .nav > ul > li > a:hover {
              color: pink; }
      .header-m > .h-main > .h-r > .show {
        visibility: visible;
        height: 400px;
        opacity: 1;
        transition: all 0.3s; }

@media screen and (max-width: 1200px) {
  .header {
    display: none; } }

@media screen and (max-width: 1200px) {
  .header-m {
    visibility: visible;
    height: 60px; }
    .header-m > .h-main > .h-l {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%; } }

    @media screen and (max-width: 1200px) and (max-width: 800px) {
      .header-m > .h-main > .h-l > a {
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        width: 100%; }
        .header-m > .h-main > .h-l > a > img {
          vertical-align: middle;
          max-width: 100%;
          height: auto;
          border: none; } }

@media screen and (max-width: 1200px) {
  .main {
    margin-top: 50px; } }

.main > .content > .pro {
  margin-top: 50px;
  width: 100%; }
  .main > .content > .pro > .p-c {
    width: 100%;
    text-align: center; }
    .main > .content > .pro > .p-c > p {
      font-family: 'book antiqua';
      font-size: 30px;
      padding-bottom: 10px;
      font-weight: bolder; }
      .main > .content > .pro > .p-c > p:nth-child(2) {
        font-weight: normal; }
.main > .content > .m-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%; }
  .main > .content > .m-wrap > ul {
    display: flex;
    flex-direction: column;
    width: 80%; }
    .main > .content > .m-wrap > ul > li {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 2px solid gray; }
      .main > .content > .m-wrap > ul > li > .w-l {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%; }
        .main > .content > .m-wrap > ul > li > .w-l > h6 {
          font-size: 36px; }
        .main > .content > .m-wrap > ul > li > .w-l > ul {
          margin-top: 30px; }
          .main > .content > .m-wrap > ul > li > .w-l > ul > li {
            padding-bottom: 10px; }
            .main > .content > .m-wrap > ul > li > .w-l > ul > li > p {
              font-size: 14px; }
      .main > .content > .m-wrap > ul > li > .w-r {
        width: 50%; }
        .main > .content > .m-wrap > ul > li > .w-r > img {
          vertical-align: middle;
          max-width: 100%;
          height: auto;
          border: none; }
      .main > .content > .m-wrap > ul > li:nth-child(2) {
        display: flex;
        flex-direction: row-reverse; }

@media screen and (max-width: 1200px) {
  .main > .content {
    margin-top: 60px; }
    .main > .content > .pro {
      margin-top: 10px;
      width: 100%; } }

    @media screen and (max-width: 1200px) and (max-width: 800px) {
      .main > .content > .pro > .p-c {
        width: 100%;
        text-align: center; }
        .main > .content > .pro > .p-c > p {
          font-size: 20px;
          font-family: 'book antiqua';
          padding-bottom: 6px;
          font-weight: bolder; }
          .main > .content > .pro > .p-c > p:nth-child(2) {
            font-weight: normal; } }
@media screen and (max-width: 1200px) {
    .main > .content > .m-wrap {
      margin-top: 0; }
      .main > .content > .m-wrap > ul > li {
        display: flex;
        align-items: center; } }

.bottom {
  width: 100%; }
  .bottom > .footer {
    width: 100%; }
    .bottom > .footer > .friend-link {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #000; }
      .bottom > .footer > .friend-link > ul {
        display: flex;
        justify-content: space-between;
        width: 80%; }
        .bottom > .footer > .friend-link > ul > li {
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
          text-align: center; }
          .bottom > .footer > .friend-link > ul > li > img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border-style: none; }
    .bottom > .footer > .f-c {
      display: flex;
      justify-content: center;
      width: 100%; }
      .bottom > .footer > .f-c > .f-l {
        display: flex;
        justify-content: center;
        width: 60%; }
        .bottom > .footer > .f-c > .f-l > ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 80%; }
          .bottom > .footer > .f-c > .f-l > ul > li {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            margin-top: 20px; }
            .bottom > .footer > .f-c > .f-l > ul > li > h6 {
              font-size: 20px; }
            .bottom > .footer > .f-c > .f-l > ul > li > ul {
              margin-top: 10px; }
              .bottom > .footer > .f-c > .f-l > ul > li > ul > li {
                padding-bottom: 10px; }
                .bottom > .footer > .f-c > .f-l > ul > li > ul > li > a {
                  color: darkgray; }
      .bottom > .footer > .f-c > .f-r {
        width: 40%;
        padding-top: 20px; }
        .bottom > .footer > .f-c > .f-r > p {
          font-size: 20px;
          font-weight: bold; }
        .bottom > .footer > .f-c > .f-r > .f-s > input {
          text-indent: 1em;
          height: 26px; }
          .bottom > .footer > .f-c > .f-r > .f-s > input:nth-child(2) {
            width: 30px;
            height: 30px;
            border: 1px solid #000;
            background-color: #000;
            color: #fff;
            text-indent: 0;
            cursor: pointer; }
        .bottom > .footer > .f-c > .f-r > .f-atten > p {
          font-size: 16px;
          color: darkgray; }
        .bottom > .footer > .f-c > .f-r > .f-atten > i {
          cursor: pointer; }
        .bottom > .footer > .f-c > .f-r > .f-me > p {
          font-size: 16px;
          color: darkgray; }
          .bottom > .footer > .f-c > .f-r > .f-me > p:nth-child(2) {
            font-size: 14px; }
    .bottom > .footer > .f-label {
      display: flex;
      justify-content: center;
      width: 100%; }
      .bottom > .footer > .f-label > .img {
        display: flex;
        justify-content: center;
        width: 60%; }
        .bottom > .footer > .f-label > .img > img {
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          border-style: none; }
    .bottom > .footer > .icp {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      background-color: #f2f2f2;
      width: 100%; }
      .bottom > .footer > .icp > ul {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%; }
        .bottom > .footer > .icp > ul > li:nth-child(2) {
          display: flex;
          align-items: center; }
        .bottom > .footer > .icp > ul > li:nth-child(2) > i {
          display: block;
          width: 30px;
          height: 30px;
          background: url("../images/g2.png") no-repeat; }
        .bottom > .footer > .icp > ul > li:nth-child(3) {
          display: flex;
          align-items: center; }
        .bottom > .footer > .icp > ul > li:nth-child(3) > i {
          display: block;
          width: 30px;
          height: 30px;
          background: url("../images/g.png") no-repeat; }
        .bottom > .footer > .icp > ul > li > p {
          font-size: 12px; }
        .bottom > .footer > .icp > ul:nth-child(2) {
          margin-bottom: 20px;
          width: 40%; }
          .bottom > .footer > .icp > ul:nth-child(2) > li > p {
            font-size: 12px; }

@media screen and (max-width: 800px) {
  .bottom > .footer > .f-c {
    display: flex;
    justify-content: center;
    width: 100%; }
    .bottom > .footer > .f-c > .f-l {
      display: flex;
      justify-content: center;
      width: 60%; }
      .bottom > .footer > .f-c > .f-l > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%; }
        .bottom > .footer > .f-c > .f-l > ul > li {
          display: flex;
          flex-direction: column;
          align-content: flex-start;
          margin-top: 20px; }
          .bottom > .footer > .f-c > .f-l > ul > li > h6 {
            font-size: 14px; }
          .bottom > .footer > .f-c > .f-l > ul > li > ul {
            margin-top: 10px; }
            .bottom > .footer > .f-c > .f-l > ul > li > ul > li {
              padding-bottom: 10px; }
              .bottom > .footer > .f-c > .f-l > ul > li > ul > li > a {
                color: darkgray;
                font-size: 12px; }
    .bottom > .footer > .f-c > .f-r {
      width: 40%;
      padding-top: 20px; }
      .bottom > .footer > .f-c > .f-r > p {
        font-size: 14px;
        font-weight: bold; }
      .bottom > .footer > .f-c > .f-r > .f-s > input {
        text-indent: 1em;
        height: 26px;
        width: 110px; }
        .bottom > .footer > .f-c > .f-r > .f-s > input:nth-child(2) {
          width: 30px;
          height: 30px;
          border: 1px solid #000;
          background-color: #000;
          color: #fff;
          text-indent: 0;
          cursor: pointer; }
      .bottom > .footer > .f-c > .f-r > .f-atten > p {
        font-size: 14px;
        color: darkgray; }
      .bottom > .footer > .f-c > .f-r > .f-atten > i {
        cursor: pointer; }
      .bottom > .footer > .f-c > .f-r > .f-me > p {
        font-size: 14px;
        color: darkgray; }
        .bottom > .footer > .f-c > .f-r > .f-me > p:nth-child(2) {
          font-size: 14px; }
  .bottom > .footer > .icp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #f2f2f2;
    width: 100%; }
    .bottom > .footer > .icp > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 80%; }
      .bottom > .footer > .icp > ul > li {
        display: flex;
        justify-content: center;
        align-items: center; }
        .bottom > .footer > .icp > ul > li:nth-child(2) > i {
          display: block;
          width: 30px;
          height: 30px;
          background: url("../images/g2.png") no-repeat; }
        .bottom > .footer > .icp > ul > li:nth-child(3) {
          display: flex;
          align-items: center; }
        .bottom > .footer > .icp > ul > li:nth-child(3) > i {
          display: block;
          width: 30px;
          height: 30px;
          background: url("../images/g.png") no-repeat; }
        .bottom > .footer > .icp > ul > li > p {
          font-size: 12px; }
      .bottom > .footer > .icp > ul:nth-child(2) {
        margin-bottom: 10px;
        width: 40%; }
        .bottom > .footer > .icp > ul:nth-child(2) > li > p {
          font-size: 12px; } }

/*# sourceMappingURL=vip.css.map */
